global

	# log di sistema
	log /dev/log local0
    log /dev/log local1 notice
        
	# esecuzione di HAProxy in background 
	daemon


# impostazioni di default (sia per frontend che backend) 
defaults
        log global

	# modalità HTTP
        mode http

	# nei log informazioni relative alle richieste HTTP
        option httplog

	# evita sovraccarico nei log eliminando i log delle connessioni incomplete 
	option dontlognull

	# tempo massimo per connessione al backend
        timeout connect 5s

	# tempo massimo di inattività del client
        timeout client 30s

	#tempo massimo di inattività del backend
        timeout server 30s


# il frontend reindirizza tutto il traffico HTTP in traffico HTTPS
frontend http_front
        
	# listen di HAProxy sulla porta 80 (HTTP)
	bind *:80

	# 301: moved permanently, ssl_fc: SSL Front-End Connection - controllo se SSL/TLS
	http-request redirect scheme https code 301 if !{ ssl_fc }


frontend https_front
       
	# listen di HAProxy sulla porta 443 (HTTPS), cifratura SSL con certificato haproxy.pem
        bind *:443 ssl crt /etc/haproxy/certs/haproxy.pem

	# aggiunta dell'header X-Forwarded-For per i backend
	option forwardfor

	# ACL - permesso solo a chi appartiene alla ret 
	acl allowed_net src 192.168.56.0/24 10.0.2.0/24 127.0.0.1
	http-request deny if !allowed_net
	
	# ACL - per raggiungere i due backend 
	acl is_backend1 path_beg /backend1
	acl is_backend2 path_beg /backend2

	use_backend backend1 if is_backend1
	use_backend backend2 if is_backend2	

	# backend di destinazione 
	default_backend webservers
	
	
backend webservers
      	
	# load balancing round robin  
    balance roundrobin

	# health check HTTP  
	option httpchk GET /
    server backserver1 192.168.56.14:80 check
	server backserver2 192.168.56.15:80 check


backend backend1 
	
	# risolve incp,patibilità tra client e server 
	http-request replace-path ^/backend1/?(.*)$ /\1
	
	# health check HTTP
	option httpchk GET /
	server b1 192.168.56.14:80 check 


backend backend2	
	
	# risolve incompatibilità tra client e server
	http-request replace-path ^/backend2/?(.*)$ /\1

	# health check HTTP 
	option httpchk GET / 
	server b2 192.168.56.15:80 check


# pagina web per monitoraggio 
# verifica: http://192.168.56.13:8404/stats 
listen stats 
	bind :8404 
	mode http 
	stats enable 
	stats uri /stats 
	stats refresh 5s 
